
.vs/MandelbrotSet/v16/.suo
.vs/MandelbrotSet/v16/Browse.VC.db
.vs/MandelbrotSet/v16/Browse.VC.db-shm
.vs/MandelbrotSet/v16/Browse.VC.db-wal
.vs/MandelbrotSet/v16/Browse.VC.opendb
.vs/MandelbrotSet/v16/ipch/AutoPCH/23c5971e4c07477c/MANDELBROTSET.ipch
.vs/MandelbrotSet/v16/ipch/AutoPCH/98cdb6750998bbb5/MAIN.ipch
.vs/MandelbrotSet/v16/ipch/AutoPCH/d00d3ab474905f45/CPU_MANDELBROT.ipch
Debug/MandelbrotSet.exe
Debug/MandelbrotSet.ilk
Debug/MandelbrotSet.pdb
MandelbrotSet.sln
MandelbrotSet/Debug/cpu_mandelbrot.obj
MandelbrotSet/Debug/main.obj
MandelbrotSet/Debug/MandelbrotSet.exe.recipe
MandelbrotSet/Debug/MandelbrotSet.log
MandelbrotSet/Debug/MandelbrotSet.tlog/CL.command.1.tlog
MandelbrotSet/Debug/MandelbrotSet.tlog/CL.read.1.tlog
MandelbrotSet/Debug/MandelbrotSet.tlog/CL.write.1.tlog
MandelbrotSet/Debug/MandelbrotSet.tlog/link.command.1.tlog
MandelbrotSet/Debug/MandelbrotSet.tlog/link.read.1.tlog
MandelbrotSet/Debug/MandelbrotSet.tlog/link.write.1.tlog
MandelbrotSet/Debug/MandelbrotSet.tlog/MandelbrotSet.lastbuildstate
MandelbrotSet/Debug/vc142.idb
MandelbrotSet/Debug/vc142.pdb
MandelbrotSet/image-1360x1360.ppm
MandelbrotSet/image-1920x1920.ppm
MandelbrotSet/image-240x240.ppm
MandelbrotSet/image-2710x2710.ppm
MandelbrotSet/image-340x340.ppm
MandelbrotSet/image-3830x3830.ppm
MandelbrotSet/image-480x480.ppm
MandelbrotSet/image-5410x5410.ppm
MandelbrotSet/image-680x680.ppm
MandelbrotSet/image-7640x7640.ppm
MandelbrotSet/image-960x960.ppm
MandelbrotSet/MandelbrotSet.vcxproj
MandelbrotSet/MandelbrotSet.vcxproj.filters
MandelbrotSet/MandelbrotSet.vcxproj.user
.vs/MandelbrotSet/v16/ipch/AutoPCH/6b9b23409e20a3b/CPU_MANDELBROT.ipch
.vs/MandelbrotSet/v16/ipch/AutoPCH/9a715a8bd1931c3f/MAIN.ipch
MandelbrotSet/Debug/MandelbrotSet.tlog/unsuccessfulbuild
